.main__history-of-agency {
  display: flex;
  justify-content: space-between;
  @include adaptiv-value("margin-top", 123, 30.7, 1300, 0);
  @include adaptiv-value("margin-bottom", 149, 37.2, 1300, 0);
}
.main__history-of-agency-info {
  @include adaptiv-value("padding-top", 31, 8, 1300, 0);
  @include adaptiv-value("padding-bottom", 80, 20, 1300, 0);
  @include adaptiv-value("padding-left", 126, 31.5, 1300, 0);
}
.main__history-of-agency-info-h1 {
  @include fontsH1(
    "Montserrat",
    calc(8px + (30 - 8) * ((100vw - 320px) / (1300 - 320)))
  );
}
.green-rentangle {
  @extend %greenRentangle;
}
.main__history-of-agency-info-text {
  @include fontsText(
    "Open Sans",
    calc(4px + (16 - 4) * ((100vw - 320px) / (1300 - 320)))
  );
  @include adaptiv-value("padding-top", 28, 7, 1300, 0);
  @include adaptiv-value("padding-right", 15, 4, 1300, 0);
  @include adaptiv-value("padding-bottom", 26, 6.5, 1300, 0);
  @include adaptiv-value("max-width", 541, 135.3, 1300, 0);
}
.main__history-of-agency-info-button {
  float: right;
  @include adaptiv-value("width", 166, 41.5, 1300, 0);
  @include adaptiv-value("height", 51, 21.8, 1300, 0);
  @include fontsH1(
    "Montserrat",
    calc(3px + (14 - 3) * ((100vw - 320px) / (1300 - 320)))
  );
  color: #ffffff;
  background-color: #7beec7;
  border: none;
  text-decoration: none;
  transition: all 0.5s ease 0s;
  &:hover {
    background-color: #18b5a4;
  }
}

.main__history-of-agency-image img {
  height: auto;
  width: 100%;
  @include adaptiv-value("width", 459, 115, 1300, 0);
}

@media (max-width: 1300px) {
}
@media (max-width: 768px) {
}
@media (max-width: 320px) {
}
