.main__why-choose-us {
  @include adaptiv-value("margin-bottom", 150, 37.2, 1300, 0);
}
.main__why-choose-us-info {
  text-align: center;
}
.main__why-choose-us-info-h1 {
  @include fontsH1(
    "Montserrat",
    calc(7.5px + (30 - 7.5) * ((100vw - 320px) / (1300 - 320)))
  );
  div {
    margin-left: 38.3%;
  }
}
.green-rentangle {
  @extend %greenRentangle;
}
.main__why-choose-us-info-text {
  @include adaptiv-value("padding-top", 29, 7.25, 1300, 0);
  @include adaptiv-value("padding-bottom", 101, 26, 1300, 0);
  @include adaptiv-value("max-width", 717, 179.2, 1300, 0);
  @include fontsText(
    "Open Sans",
    calc(4px + (16 - 4) * ((100vw - 320px) / (1300 - 320)))
  );
  margin: 0 auto;
}

.main__why-choose-us-advantage {
  display: flex;
}
.main__why-choose-us-advantage-menu {
  display: flex;
  flex-wrap: wrap;
  width: 60%;

  @include adaptiv-value("margin-top", 20, 5, 1300, 0);
  @include adaptiv-value("margin-bottom", 20, 9.8, 1300, 0);
}
.main__why-choose-us-image {
  width: 40%;
}
.main__why-choose-us-image img {
  width: 100%;
  height: auto;
  @include adaptiv-value("max-width", 457, 114.2, 1300, 0);
}

.main__why-choose-us-advantage-menu-unlimited,
.main__why-choose-us-advantage-menu-design,
.main__why-choose-us-advantage-menu-e-commerge,
.main__why-choose-us-advantage-menu-customizable-design {
  width: 50%;
}
.main__why-choose-us-menu-universal-h1 {
  @include fontsH1(
    "Montserrat",
    calc(5px + (18 - 5) * ((100vw - 320px) / (1300 - 320)))
  );
  @include adaptiv-value("margin-top", 19, 4.7, 1300, 0);
  @include adaptiv-value("margin-bottom", 18, 4.5, 1300, 0);
}
.main__why-choose-us-menu-universal-item {
  @include adaptiv-value("margin-bottom", 11, 2.8, 1300, 0);
  @include fontsText(
    "Open Sans",
    calc(3px + (14 - 3) * ((100vw - 320px) / (1300 - 320)))
  );
  text-transform: uppercase;
  color: #999999;
  &:last-child {
    margin-bottom: 0;
  }
}
.main__why-choose-us-menu-universal-item a {
  color: #999999;
}
.main__why-choose-us-advantage-menu-e-commerge,
.main__why-choose-us-advantage-menu-customizable-design {
  @include adaptiv-value("margin-top", 40, 10, 1300, 0);
}

.main__why-choose-us-advantage-menu-icon img {
  height: auto;
  width: 100%;
  @include adaptiv-value("width", 28, 7, 1300, 0);
}
@media (max-width: 1300px) {
}
@media (max-width: 768px) {
}
@media (max-width: 320px) {
}
